/*MAINPAGE.PHP*/
body {
  margin: 0px;
  background-color: white;
}
/*Navigation Bar Buttons*/
.nav_bar {
  padding: 25px;
}

.nav_bar ul {
  list-style-type: none;
  background-color: black;
  padding: 25px;
  margin: 0px;
  overflow: hidden;
}
.nav_bar li {
  display: inline-block;
  list-style: none;
  size: 10px;
}

.nav_link a {
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.nav_link img {
  width: 25px;
  transition: transform 0.3s ease, color 0.3s ease, color 0;
}

.nav_link a:hover {
  transform: scale(1.1);
  color: red;
}
