/*MAINPAGE.PHP*/
body {
  margin: 0px;
  background-color: white;
}
/*Navigation Bar Buttons*/

.nav_bar ul {
  list-style-type: none;
  background-color: black;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.nav_bar li {
  display: inline-block;
  list-style: none;
}

.nav_bar a {
  background-color: grey;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.nav_bar a:hover {
  color: red;
}
