/*MAINPAGE.PHP*/
* {
  text-decoration: none;
}
@import url("https://fonts.cdnfonts.com/css/motiva-sans");
body {
  margin: 0px;
  background-color: white;
  height: 100%;
  --padding1: 20px;
  --padding2: 15px;
}
/*Navigation Bar*/
.nav_bar {
  font-family: Arial, sans-serif;
  padding-right: var(--padding1);
  padding-left: var(--padding1);
  background: black;
}
/*Search Bar*/
.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding2);
  border-radius: 28px;
  background: #f6f6f6;
}
.input-search {
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  color: #333333;
  margin-left: var(--padding2);
  outline: none;
  border: none;
  background: transparent;
  width: 500px;
}
/*Navigation Bar Buttons*/
.logo img {
  color: white;
  height: 90px;
}
.nav_bar {
  height: 95px;
  z-index: 10;
}
.nav_div ul {
  padding-right: 10px;
}
.nav_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_div li {
  list-style: none;
  display: inline-block;
}
.nav_div li a img {
  width: 37px;
  height: 44px;
}
.nav_div li a img:hover {
  transform: scale(1.2);
  transition: 0.35s;
}

/*Banner*/
.banner-wrap {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.banner-slideshow {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-slideshow > div {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: animate 20s infinite;
  opacity: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: cover;
  overflow: hidden;
}
.banner-slideshow > div:nth-child(2) {
  animation-delay: 5s;
}
.banner-slideshow > div:nth-child(3) {
  animation-delay: 10s;
}
.banner-slideshow > div:nth-child(4) {
  animation-delay: 15s;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*Content*/
.content-wrap {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  background: rgb(255, 255, 255);
  color: black;
}
.content-row {
  padding-left: 300px;
  position: relative;
}
.mainpage-titles h1 {
  font-family: "Motiva Sans", sans-serif;
  font-size: 60px;
}
/*Footer*/
.footer {
  width: 100%;
  height: 300px;
  padding-top: 20px;
  background: black;
  color: rgb(212, 0, 255);
  display: flex;
  font-family: "Poppins", sans-serif;
}
.footer div {
  text-align: center;
}
.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.footer div a {
  display: block;
  padding-bottom: 20px;
  color: white;
}
.footerColumn1 {
  width: 50%;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.footerColumn2 {
  color: white;
  width: 50%;
  font-size: 20px;
}

.admin_options {
  display: flex;
  flex-direction: row;
}
.admin_options a button {
  background-color: #818282;
  border: none;

  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
  height: 200px;
  width: 75%;
}
