<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>

<body class = "admin-body">
    <nav class="nav_bar">
        <div class="admin-div">
            <div class="logo" style="flex-grow: 8"><a href="#">
                <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
            
            <div><li><a href="{{ url_for('signup') }}"><img src="../static/images/person.png" alt=""></a></li></div>
            <div><li><a href="{{ url_for('admin') }}"><img src="../static/images/home.png" alt=""></a></li></div>
            
        </div>
    </nav>

    <div class = "admin-filters">
        <form method = "POST">
        <div class = "filter"><p>Filter:</p>
        <select size="1" name = "filter">
            <option>Signup Date</option>
            <option>Last accessed</option>
            <option>UserName</option>
        </select></div>
        <input  type="text" placeholder="Search Accounts" name = "search">
    </form>
    </div>

    <div class = "user-list">
        <ul>
            <li>UserName: </li>
        </ul>
    </div>

</div>

   
</body>

</html>