<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>

<body class = "admin-body">
    <nav class="nav_bar">
        <div class="admin-div">
            <div class="logo" style="flex-grow: 8"><a href="#">
                <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
            
            <div><li><a href="{{ url_for('signup') }}"><img src="../static/images/person.png" alt=""></a></li></div>
            <div><li><a href="{{ url_for('admin') }}"><img src="../static/images/home.png" alt=""></a></li></div>
            
        </div>
    </nav>

    <form  method = "POST">

        <div class = "filter"><p>Filter:</p>
        <select size="1" name = "order">

            <option>username</option>
            <option>email</option>
            <option>id</option>
        
        <input  type="text" placeholder="Search Accounts" name = "usertextsearch">
        <button type="submit" class="btn" value="submit">Search</button>


    </form>

    <ul class = "account-list">
        {% for value in userlist %}
        <li class = "list-element">id: {{value["id"]}}    Username: {{value["username"]}}   Firstname = {{value["firstname"]}}   Lastname = {{value["lastname"]}}  Email = {{value["email"]}}  Password: {{value["password"]}} </li>
        {% endfor %}
    </ul>

   
</body>

</html>