<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>

<body>
    <nav class="nav_bar">
        <div class="nav_div">
            <div class="logo"><a href="#">
                <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
            <ul>
                <li><a href="{{ url_for('signup') }}"><img src="../static/images/person.png" alt=""></a></li>
                <li><a href="{{ url_for('admin') }}"><img src="../static/images/home.png" alt=""></a></li>
            </ul>
        </div>
    </nav>

    <div>
        <span style="font-size: 16px;color:black">Filter </span>
        <select size="1">
            <option>Signup Date</option>
            <option>Last accessed</option>
            <option>UserName</option>
        </select>
        <input type="text" placeholder="Search Accounts">
    </div>

   
</body>

</html>