<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
</head>

<body class = "admin-body">
    <nav class="nav_bar">
        <div class="admin-div">
            <div class="logo"><a href="#">
                <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
            <ul>
                <li><a href="{{ url_for('login') }}"><img src="../static/images/person.png" alt=""></a></li>
                
            </ul>
        </div>
    </nav>

    <div class ="admin-options">
        
        <a href = "{{ url_for('accounts') }}">
            <button type= "button">Accounts</button>
        </a>
        <a href = "{{ url_for('game') }}">
            <button type = "button">Games</button>
        </a>
        

    </div>

    
</body>

</html>