


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" /> 
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
</head>

<body class="mainpage-body">
        <nav class="nav_bar">
            <div class="nav_div">
                <div class="logo"><a href="#">
                    <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
                    <h1 class = "admin-title">Administrate</h1>
                <ul>
                    
                    <li><a href="/logout"><img class="navdiv-icon" src="../static/images/Logout.png" alt=""></a></li>
                       
                        
                   
                </ul>
            </div>
        </nav>
        
    
        <div class ="admin-options">
        
            <a class = "butten-a" href = "{{ url_for('accounts') }}">
                <button class = "admin-button" type= "button">Accounts</button>
            </a>
            <a class = "butten-a" href = "{{ url_for('adminGame') }}">
                <button class = "admin-button" type = "button">Games</button>
            </a>
            
    
        </div>
    
    
    
    <div class="footer">
        
        <div class="footerColumn2">
            <h3>Creators</h3>
            <a href="">Snaoll</a>
            <a href="">Ordnary45</a>
            <a href="">zarakagha</a>
            <a href="">TracePrice135</a>
        </div>
    </div>

</body>
<script src="{{ url_for('static', filename='js/MainpageScript.js') }}"></script>
</html>

