<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameScout</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
    />
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet" />
  </head>

  <body class="mainpage-body">
    <nav class="nav_bar">
      <div class="nav_div">
        <div class="logo">
          <a href="#">
            <img src="../static/images/GameScout-logo.png" alt="" />
          </a>
        </div>
        <h1 class="admin-title">Game Stores</h1>
        <ul>
          <li>
            <a href="/admin"
              ><img class="navdiv-icon" src="../static/images/home.png" alt=""
            /></a>
          </li>
          <li>
            <a href="/logout"
              ><img
                class="navdiv-icon"
                src="../static/images/Logout.png"
                alt=""
            /></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="games-page-wrapper">
      <div class="games-options">
        <form method="POST">
          <button class="io-button" value="submit">
            Submit
            <div class="icon">
              <svg
                height="24"
                width="24"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </button>
          {% for key,value in gameStoreArray %}

          <div class="store-title">{{value[0]}}</div>
          <div class="game-item">
            <select
              class="game-form"
              name="{{value[0]}}"
              id="filter"
              onchange=""
            >
              {% if value[1] == 1 %}
              <option value="1" selected>Enabled</option>
              <option value="0">Disabled</option>
              {% endif %} {% if value[1] ==0 %}
              <option value="0" selected>Disabled</option>
              <option value="1">Enabled</option>
              {% endif %}
            </select>
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
  </body>
  <!--<script src="{{ url_for('static', filename='js/accountsScript.js') }}"></script>-->
</html>
