<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" /> 
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
</head>

<body>
        <nav class="nav_bar">
            <div class="nav_div">
                <div class="logo"><a href="#">
                <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
                    <div class="search">
                        <span class="material-symbols-outlined">search</span>
                        <input class="input-search" type="search" placeholder="Search for Games">
                    </div>
                <ul>
                    <li><a href="{{ url_for('signup') }}"><img src="../static/images/person.png" alt=""></a></li>
                    <li><a href=""><img src="../static/images/heart.png" alt=""></a></li>
                </ul>
            </div>
        </nav>

        <div class="banner" style="background-image: url(../static/images/Game-Wallpapers/AC_Mirage.jpg)"></div>
        <div class="game-text">
            <h1 style="font-size:50px">{{gamename}}</h1>
            <div class="split-container">
                <div class="split-left">
                    <img src="../static/images/Game-Cards/AC-Mirage.avif" object-fit: contain; alt="">
                </div>
                <div class="split-right">
                    <h1>Right Section</h1>
                    {% for key, value in stores_with_price %}
                    <p>{{key}}</p>
                    <span>{{value}}</span>
                    {% endfor %}

                </div>
            </div>
        </div>
        
        <div class="footer">
            <div class="footerColumn1">
                <h3>Other Game Stores</h3>
                <a href="https://store.playstation.com/en-ca/pages/latest?gad_source=1&gclid=EAIaIQobChMIi8qlrYvRiwMVrAytBh33ZAicEAAYASAAEgJ9CPD_BwE&gclsrc=aw.ds" target="_blank">Playstation</a>
                <a href="https://www.microsoft.com/en-ca/store/games" target="_blank">Microsoft</a>
                <a href="https://www.nintendo.com/en-ca/store/games/?utm_source=sw&utm_medium=pdpd&utm_id=C1090-01&utm_campaign=C1090-01&gad_source=1&gclid=EAIaIQobChMI1Oqb3IvRiwMVY83CBB0YjALfEAAYASAAEgJg5fD_BwE&gclsrc=aw.ds" target="_blank">Nintendo</a>
                <a href="https://store.steampowered.com/" target="_blank">Steam</a>
            </div>
            <div class="footerColumn2">
                <h3>Creators</h3>
                <a href="">Snaoll</a>
                <a href="">Ordnary45</a>
                <a href="">zarakagha</a>
            </div>
        </div>
</body>

</html>