<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" /> 
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
</head>

<body style="background-color:rgb(16,16,16);">
    <nav class="nav_bar">
        <div class="nav_div">
            <div class="logo"><a href="{{ url_for('serve_form') }}">
                <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
                <div class="search">
                <form action="/gamesearch" method="POST">
                    <span class="material-symbols-outlined">search</span>
                    <input class="input-search" type="search" name="name" placeholder="Search for Games">
                </form>
                </div>
            <ul>
                {% if loginbutton %}
                <li>
                    <div class="dropdown">
                        <a class="drop-button">
                            <img class="navdiv-icon" src="../static/images/person.png" alt="">
                        </a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('login') }}">Log In</a>
                            <a href="{{ url_for('signup') }}">Sign Up</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                <li><a href="/wishlist"><img class="navdiv-icon" src="../static/images/heart.png" alt=""></a></li>
                <li><a href="/logout"><img class="navdiv-icon" src="../static/images/Logout.png" alt=""></a></li>
            </ul>
        </div>
    </nav>
    
    <div class="game-text">
        <div class="split-container">
            <div class="split-left">
                <img src={{gameIMG}} object-fit: contain; alt="">
                {% for key, value in wishlistdict %}
                <form action="{{url_for('addtowishlist',game=value)}}" method="GET">
                    <button class="game-btn" role="button"> 
                        <span class="text">Add to Wishlist</span>
                    </button>
                </form>
                {% endfor %}
            </div>

            <div class="split-right">
                <h1 style="font-size:50px">{{gamename}}</h1>
                <table>
                    <tr>
                        <td style="font-size:20px; padding-top:15px">Store</td>
                        <td style="font-size:20px; padding-top:15px">Cost</td>
                    </tr>
                    {% for key, value in store_dict %}
                    <tr>
                        <td><a href={{value[2]}}  target="_blank"   style="color: inherit;">{{key}}</a></td>
                        <td>{{value[0]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                    
            </div>
        </div>
    </div>
        
    <div class="footer">
        <div class="footerColumn1">
            <h3>Other Game Stores</h3>
            <a href="https://store.playstation.com/en-ca/pages/latest?gad_source=1&gclid=EAIaIQobChMIi8qlrYvRiwMVrAytBh33ZAicEAAYASAAEgJ9CPD_BwE&gclsrc=aw.ds" target="_blank">Playstation</a>
            <a href="https://www.microsoft.com/en-ca/store/games" target="_blank">Microsoft</a>
            <a href="https://www.nintendo.com/en-ca/store/games/?utm_source=sw&utm_medium=pdpd&utm_id=C1090-01&utm_campaign=C1090-01&gad_source=1&gclid=EAIaIQobChMI1Oqb3IvRiwMVY83CBB0YjALfEAAYASAAEgJg5fD_BwE&gclsrc=aw.ds" target="_blank">Nintendo</a>
            <a href="https://store.steampowered.com/" target="_blank">Steam</a>
        </div>
        <div class="footerColumn2">
            <h3>Creators</h3>
            <a href="">Snaoll</a>
            <a href="">Ordnary45</a>
            <a href="">zarakagha</a>
        </div>
    </div>
</body>

</html>