<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" /> 
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
</head>

<body class="mainpage-body">
        <nav class="nav_bar">
            <div class="nav_div">
                <div class="logo"><a href="/">
                    <img src="../static/images/GameScout-logo.png" alt=""> </a></div>
                    <div class="search">
                    <form action="/gamesearch" method="POST">
                        <span class="material-symbols-outlined">search</span>
                        <input class="input-search" type="search" name="name" placeholder="Search for Games">
                    </form>
                    </div>
                <ul>
                    {% if loginbutton %}
                    <li>
                        <div class="dropdown">
                            <a class="drop-button">
                                <img class="navdiv-icon" src="../static/images/person.png" alt="">
                            </a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('login') }}">Log In</a>
                                <a href="{{ url_for('signup')}}">Sign Up</a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li><a href="/wishlist"><img class="navdiv-icon" src="../static/images/heart.png" alt=""></a></li>
                    {% if loginbutton == 0 %}
                    <li><a href="/logout"><img class="navdiv-icon" src="../static/images/Logout.png" alt=""></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
    <div class="banner-wrap">
        <div class="banner-slideshow">
            <div class="background-Img" style="background-image: url(../static/images/MainPage-wallpapers/wukong.jpeg)"></div>
            <div class="background-img" style="background-image: url(../static/images/MainPage-wallpapers/EldenRing.webp)"></div>
            <div class="background-img" style="background-image: url(../static/images/MainPage-wallpapers/LastofUs-II.jpg)"></div>
            <div class="background-img" style="background-image: url(../static/images/MainPage-wallpapers/ResidentEvil4.jpeg)"></div>
        </div>
    </div>
    {% if wishlistupdate %}
        <div class="pricedrop-alert-wrap">
            <p class="pricedrop-alert">A game on your wishlist has dropped in price</p>
        </div>
    {% endif %}
    <div class="content-wrap">
        <div class="price-range-wrapper">
            <a href="{{url_for('gamedetail',game_id=10000000)}}">Low Price</a>
            <a href="{{url_for('gamedetail',game_id=20000000)}}">Medium Price</a>
            <a href="{{url_for('gamedetail',game_id=30000000)}}">High Price</a>
        </div>
       <section class="product"> 
            <h2 class="product-category">On Sale From Steam</h2>
            <button class="pre-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
            <button class="nxt-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
            <div class="product-container">
                {% for key, value in steamgamesjson %}
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">{{value[2]}} %</span>
                        <a href="{{url_for('gamedetail',game_id=value[4])}}"><img src="https://steamcdn-a.akamaihd.net/steam/apps/{{key}}/library_600x900_2x.jpg" class="product-thumb" alt=""></a>
                        <form action="{{url_for('addtowishlist',game=value)}}" method="GET"><button class="card-btn">add to wishlist</button></form>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{value[3]}}</h2>
                        <span class="price">{{value[1]}}</span><span class="actual-price">{{value[0]}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            </section> 
            </div>
            <div class="content-wrap">
                <section class="product"> 
                     <h2 class="product-category">On Sale From Epic Games</h2>
                     <button class="pre-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
                     <button class="nxt-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
                     <div class="product-container">
                        {% for key, value in epicgamesjson %}
                         <div class="product-card">
                             <div class="product-image">
                                 <span class="discount-tag">{{value[2]}} %</span>
                                 <a href="{{url_for('gamedetail',game_id=value[4])}}"><img src="https://steamcdn-a.akamaihd.net/steam/apps/{{key}}/library_600x900_2x.jpg" class="product-thumb" alt=""></a>
                                 <form action="{{url_for('addtowishlist',game=value)}}" method="GET"><button class="card-btn">add to wishlist</button></form>
                             </div>
                             <div class="product-info">
                                 <h2 class="product-brand">{{value[3]}}</h2>
                                 <span class="price">{{value[1]}}</span><span class="actual-price">{{value[0]}}</span>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                </section> 
                </div>
                <div class="content-wrap">
                    <section class="product"> 
                            <h2 class="product-category">On Sale From GOG</h2>
                            <button class="pre-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
                            <button class="nxt-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
                            <div class="product-container">
                                {% for key, value in goggamesjson %}
                                <div class="product-card">
                                     <div class="product-image">
                                            <span class="discount-tag">{{value[2]}} %</span>
                                            <a href="{{url_for('gamedetail',game_id=value[4])}}"><img src="https://steamcdn-a.akamaihd.net/steam/apps/{{key}}/library_600x900_2x.jpg" class="product-thumb" alt=""></a>
                                            <form action="{{url_for('addtowishlist',game=value)}}" method="GET"><button class="card-btn">add to wishlist</button></form>
                                     </div>
                                     <div class="product-info">
                                            <h2 class="product-brand">{{value[3]}}</h2>
                                            <span class="price">{{value[1]}}</span><span class="actual-price">{{value[0]}}</span>
    
                                     </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                    </section>
                    </div>
                    <div class="content-wrap">
                        <section class="product"> 
                                <h2 class="product-category">On Sale From Fanatical Games</h2>
                                <button class="pre-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
                                <button class="nxt-btn"><img src="../static/images/Game-Cards/arrow.png" alt=""></button>
                                <div class="product-container">
                                    {% for key, value in fanaticalgamesjson %}
                                    <div class="product-card">
                                         <div class="product-image">
                                                <span class="discount-tag">{{value[2]}} %</span>
                                                <a href="{{url_for('gamedetail',game_id=value[4])}}"><img src="https://steamcdn-a.akamaihd.net/steam/apps/{{key}}/library_600x900_2x.jpg" class="product-thumb" alt=""></a>
                                                <form action="{{url_for('addtowishlist',game=value)}}" method="GET"><button class="card-btn">add to wishlist</button></form>
                                         </div>
                                         <div class="product-info">
                                                <h2 class="product-brand">{{value[3]}}</h2>
                                                <span class="price">{{value[1]}}</span><span class="actual-price">{{value[0]}}</span>
        
                                         </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                
                        </section>
                        </div>
                  
    </div>
    <div>
    </div>
    
    <div class="footer">
        <div class="footerColumn1">
            <h3>Other Game Stores</h3>
            <a href="https://store.playstation.com/en-ca/pages/latest?gad_source=1&gclid=EAIaIQobChMIi8qlrYvRiwMVrAytBh33ZAicEAAYASAAEgJ9CPD_BwE&gclsrc=aw.ds" target=" nk">Playstation</a>
            <a href="https://www.microsoft.com/en-ca/store/games" target="_blank">Microsoft</a>
            <a href="https://www.nintendo.com/en-ca/store/games/?utm_source=sw&utm_medium=pdpd&utm_id=C1090-01&utm_campaign=C1090-01&gad_source=1&gclid=EAIaIQobChMI1Oqb3IvRiwMVY83CBB0YjALfEAAYASAAEgJg5fD_BwE&gclsrc=aw.ds" target="_blank">Nintendo</a>
            <a href="https://store.steampowered.com/" target="_blank">Steam</a>
        </div>
        <div class="footerColumn2">
            <h3>Creators</h3>
            <a href="">Snaoll</a>
            <a href="">Ordnary45</a>
            <a href="">zarakagha</a>
        </div>
    </div>

</body>
<script src="{{ url_for('static', filename='js/MainpageScript.js') }}"></script>
</html>